@model List<MyPortfolioUdemy.DAL.Entities.Feature>

<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://i.hizliresim.com/rnd3d5z.jpeg?_gl=1*1vgnwpi*_ga*MTYwMTIwMTA4OC4xNzMyMTM1MzM3*_ga_M9ZRXYS2YN*MTczMjMxMzIyNC45LjEuMTczMjMxMzQzNi4xNS4wLjA." data-natural-width=35 data-natural-height=30 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    @foreach (var item in Model)
    {
        <div class="home-content">

            <div class="row home-content__main">

                <h3>@item.Title</h3>

                <h1>
                    @item.Description<br />
                    @item.Description2
                </h1>

                <div class="home-content__buttons">
                    <a href="#works" class="smoothscroll btn btn--stroke">
                        Son Projelerim
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        Hakkımda
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Aşagıya İn</span>
                    </a>
                </div>

            </div>

        </div>
    }
    <!-- end home-content -->
    @await Component.InvokeAsync("_SocialMediaComponentPartial")
    <!-- end home-social -->

</section>
